<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title color ="light">Camisas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar mode="ios" animated="true" placeholder="Buscar Produto"></ion-searchbar>

  <ion-item *ngFor="let produto of listaProdutos">
    <ion-item lines="full">
      <ion-thumbnail slot="start">
        <img src="{{produto.png}}" >
      </ion-thumbnail>
      <ion-label>
        <h2>{{produto.nome}}</h2>
        <p>{{produto.descricao}}</p>
      </ion-label>
      <ion-badge color="dark">R$ {{produto.valor}}</ion-badge>

      <ion-button slot="end" expand="block">
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
    </ion-item>

  </ion-item>
</ion-content>
