<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title color ="light">Promoções</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar mode="ios" animated="true" placeholder="Buscar Produtos"></ion-searchbar>

  <ion-list>
    <ion-item lines="full">
      <ion-thumbnail slot="start">
        <img src="https://static.netshoes.com.br/produtos/camisa-nike-santos-iii-1213-sn-centenario/08/123-5209-108/123-5209-108_zoom1.jpg?ts=1538172782&ims=544x" />
      </ion-thumbnail>
      <ion-label>
        <h2>Camisa Nike Santos III 12/13 s/nº - Centenário</h2>
      </ion-label>
      <ion-badge color="dark">R$ 300,00</ion-badge>

      <ion-button slot="end" expand="block">
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item lines="full">
      <ion-thumbnail slot="start">
        <img src="https://http2.mlstatic.com/D_NQ_NP_895927-MLB50692535108_072022-O.webp" />
      </ion-thumbnail>
      <ion-label>
        <h2>Kit 3 Meias Santos F.C</h2>
      </ion-label>
      <ion-badge color="dark">R$ 50,00</ion-badge>

      <ion-button slot="end" expand="block">
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item lines="full">
      <ion-thumbnail slot="start">
        <img src="https://a-static.mlcdn.com.br/450x450/shorts-infantil-santos-oficial-1-a-14-anos-revedor/cia-bebe/st1000-tam-10/3f2b1b225ae61b89bec78131389f0694.jpeg" />
      </ion-thumbnail>
      <ion-label>
        <h2>Shorts infantil Santos F.C</h2>
      </ion-label>
      <ion-badge color="dark">R$ 40,00</ion-badge>

      <ion-button slot="end" expand="block">
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item lines="full">
      <ion-thumbnail slot="start">
        <img src="https://s2.glbimg.com/erL77FfGjivdReA_uO1M_oyV3pCfZZQHtHsKtiRG3S419PMMvC2AjO6fMF74RCv1/s.glbimg.com/es/ge/f/original/2012/03/24/neymar_chuteira_nikebrasil-7.jpg" />
      </ion-thumbnail>
      <ion-label>
        <h2>Chuteira Neymar JR</h2>
      </ion-label>
      <ion-badge color="dark">R$ 350,00</ion-badge>

      <ion-button slot="end" expand="block">
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item lines="full">
      <ion-thumbnail slot="start">
        <img src="https://images.tcdn.com.br/img/img_prod/1047672/camisa_santos_charlie_brown_jr_marginal_alado_umbro_masculina_preta_775_1_898fe80b9477e5124eaae10bfc37e793.jpg" />
      </ion-thumbnail>
      <ion-label>
        <h2>Camisa Santos Charlie Brown JR</h2>
      </ion-label>
      <ion-badge color="dark">R$ 150,00</ion-badge>

      <ion-button slot="end" expand="block">
        <ion-icon slot="icon-only" name="cart-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
