<ion-header>
  <ion-toolbar color ="dark">
    <ion-title color ="light" class="ion-text-center">
      Loja Santos Futebol Clube
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card color="light">
         <img src="https://w7.pngwing.com/pngs/337/95/png-transparent-promotion-digital-marketing-business-discount-promotion-text-logo-business.png"/>
         <ion-item color="dark">
          <ion-label class="titulo-promocao">
          Confira nossos produtos em promoção!
          </ion-label>
         </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card color="light">
          <img src="https://d1ulmyt8kny60e.cloudfront.net/Custom/Content/Products/46/12/46127_camisa-masculina-santos-oficial-2-22-23-classic-s-n-pr-16049-8210_l5_637835616999952363.png"/>
          <ion-item color="light">
           Camisa Santos F.C
          </ion-item>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
         <img src="https://d1ulmyt8kny60e.cloudfront.net/Custom/Content/Products/46/34/46347_calcao-masculino-santos-oficial-1-2022-pr-16049-8290_s1_637890866269897674.png"/>
         <ion-item color="light">
          Shorts Santos F.C
         </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <img src="https://img.r7.com/images/chuteiras-personalizadas-santos-27042020080722045?dimensions=771x420&no_crop=true?dimensions=151x93"/>
          <ion-item color="light">
           Chuteira Santos F.C
          </ion-item>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <img src="https://a-static.mlcdn.com.br/450x450/meiao-campo-santos/avenidabr/915-3003/91203680924f66c0e71a3e6d500dcb80.jpeg"/>
          <ion-item color="light">
           Meião Santos F.C
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

